@import url("../stylesheet/styles.css");

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-bottom: 2.3rem;
}
.badge-card-product {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  height: 1.3rem;
  padding: 0.6rem;
  background-color: var(--white);
}
.remove-wishlist-btn:hover,
.add-to-cart-btn:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.remove-wishlist-btn {
  border: none;
  outline: 0;
  padding: 0.6rem;
  color: var(--white);
  background-color: var(--darkgray);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
}
.filter-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid;
  flex-wrap: wrap;
  padding: 2.2rem;
}
.category-container,
.rating-container,
.sorting-container,
.filter-first {
  display: flex;
  gap: 1.1rem;
}
.btn-link {
  margin-left: auto;
}
.max-value {
  margin-left: 80%;
}
.slide-container {
  border: none;
  padding: 0.3rem;
  width: 90%;
}
.product-listing-container {
  display: flex;
}
